@font-face {
  font-family: "iconfont"; /* Project id 2714555 */
  src: url('//at.alicdn.com/t/font_2714555_32fc1p1olb4.woff2?t=1629791533415') format('woff2'),
       url('//at.alicdn.com/t/font_2714555_32fc1p1olb4.woff?t=1629791533415') format('woff'),
       url('//at.alicdn.com/t/font_2714555_32fc1p1olb4.ttf?t=1629791533415') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-down:before {
  content: "\e632";
}

.icon-jiantou-up:before {
  content: "\ec40";
}

.icon-shangxia:before {
  content: "\e60b";
}

.icon-funnel:before {
  content: "\e6e2";
}

.icon-ditu-dibiao:before {
  content: "\ec3f";
}

.icon-loudou:before {
  content: "\e710";
}

.icon-shizhong:before {
  content: "\e653";
}

.icon-guanji-:before {
  content: "\e60c";
}

.icon-guanji:before {
  content: "\e631";
}

.icon-ai240:before {
  content: "\e6e4";
}

.icon-yonghu2:before {
  content: "\e60a";
}

.icon-caigoutonggerenbangaobaozhenzhucedenglu17:before {
  content: "\e649";
}

.icon-tongji:before {
  content: "\e660";
}

.icon-home:before {
  content: "\e601";
}

.icon-thin-_newspaper_:before {
  content: "\e604";
}

.icon-tianping:before {
  content: "\e74e";
}

.icon-home1:before {
  content: "\e600";
}

.icon-yonghu1:before {
  content: "\e765";
}

.icon-ziyuan143:before {
  content: "\e6e7";
}

.icon-tianping1:before {
  content: "\e6cf";
}

.icon-zhengjian:before {
  content: "\e63d";
}

.icon-gantanhao:before {
  content: "\e60e";
}

.icon-gantanhao-yuankuang:before {
  content: "\e763";
}

.icon-chahao1:before {
  content: "\e663";
}

.icon-chahao:before {
  content: "\e668";
}

.icon-youjiantou:before {
  content: "\e643";
}

.icon-suo:before {
  content: "\e657";
}

.icon-yonghu:before {
  content: "\e652";
}
